@use './variables' as v

*
    margin: 0
    padding: 0
    box-sizing: border-box
    border: none
    background: none
    font-size: 1rem


body
    background: v.$gray-2
    font-family: sans-serif

a
    color: inherit
    text-decoration: none

.normal
    color: v.$normal
    background-color: v.$normal-light

.flying
    color: v.$flying
    background-color: v.$flying-light

.grass
    color: v.$grass
    background-color: v.$grass-light

.fire
    color: v.$fire
    background-color: v.$fire-light

.water
    color: v.$water
    background-color: v.$water-light

.fighting
    color: v.$fighting
    background-color: v.$fighting-light

.poison
    color: v.$poison
    background-color: v.$poison-light

.electric
    color: v.$electric
    background-color: v.$electric-light

.ground
    color: v.$ground
    background-color: v.$ground-light

.psychic
    color: v.$psychic
    background-color: v.$psychic-light

.rock
    color: v.$rock
    background-color: v.$rock-light

.ice
    color: v.$ice
    background-color: v.$ice-light

.bug
    color: v.$bug
    background-color: v.$bug-light

.dragon
    color: v.$dragon
    background-color: v.$dragon-light

.dark
    color: v.$dark
    background-color: v.$dark-light

.steel
    color: v.$steel
    background-color: v.$steel-light

.fairy
    color: v.$fairy
    background-color: v.$fairy-light

.ghost
    color: v.$ghost
    background-color: v.$ghost-light